Repository signalkraft/myPyllant: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest

mypy:
  name: mypy
  entry: uv run mypy
  args:
  - --pretty
  - --show-error-codes
  - --show-error-context
  - --check-untyped-defs
  language: system
  pass_filenames: true

pytest:
  name: pytest
  entry: uv run pytest
  args:
  - --no-cov
  - -n4
  language: system
  pass_filenames: false

Fix for handling of Zulu time (UTC) when parsing API responses
  src/myPyllant/models.py
  src/myPyllant/tests/test_utils.py
  src/myPyllant/utils.py
Due: mypy, pytest

relaxed required version for pydantic
  dev-requirements.txt
Due: none

Added Bosnia and Herzegovina, as well as North Macedonia as supported countries
  src/myPyllant/tests/find_countries.py
  src/myPyllant/tests/test_countries.py
Due: pytest

add testdata from system with systemFlowTemperature and energyManagerState (serial numbers replaced by random uuids)
  src/myPyllant/tests/data/systemflow_and_energymanagerstate/homes.json
Due: pytest

fixed testcases for merged PR
  src/myPyllant/tests/data/systemflow_and_energymanagerstate/homes.json
Due: pytest

switched to uv for dependency management and development / testing
  dev-requirements.txt
Due: none

caching tz info
  src/myPyllant/api.py
  src/myPyllant/const.py
  src/myPyllant/tests/find_countries.py
  src/myPyllant/tests/test_api.py
  src/myPyllant/tests/test_countries.py
Due: mypy, pytest

Include response in logs of all 4xx errors
  .pre-commit-config.yaml
  src/myPyllant/http_client.py
Due: mypy, pytest

allow passing in homes to get_systems, to avoid fetching that data every time
  src/myPyllant/api.py
Due: mypy, pytest

mocked api calls are logged for debugging
  src/myPyllant/tests/utils.py
Due: pytest

fetch current_power from either MPC or RTS
  src/myPyllant/models.py
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/connection_status.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/control_identifier.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/current_system.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/device_buckets.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/diagnostic_trouble_codes.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/energy_management.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/mpc.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/rbr.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/rts.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/ship_self.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/system.json
  src/myPyllant/tests/data/current_power/4f5dff076e0dd0245aa0993a3d6f0e38754dd926/time_zone.json
  src/myPyllant/tests/data/current_power/homes.json
  src/myPyllant/tests/test_models.py
Due: mypy, pytest

allow skipping ambisense_capability API call
  src/myPyllant/api.py
Due: mypy, pytest

Added support for Moldova
  src/myPyllant/const.py
  src/myPyllant/tests/find_countries.py
Due: mypy, pytest

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

expose flow setpoint
  src/myPyllant/models.py
  src/myPyllant/tests/test_circuit_flow_temperature.py
Due: mypy, pytest

Add support for DemirDöküm brand in authentication and tests
  src/myPyllant/const.py
  src/myPyllant/tests/test_api.py
  src/myPyllant/tests/utils.py
  src/myPyllant/utils.py
Due: mypy, pytest

pin python version to 3.13
  pyproject.toml
  uv.lock
Due: none

Add proxy support.
  src/myPyllant/api.py
Due: mypy, pytest

added test data with two heating events
  src/myPyllant/tests/data/ambisense2.yaml
Due: pytest

pipeline update
  .github/workflows/build-test.yaml
Due: none

limiting to python3.13 or lower
  pyproject.toml
  uv.lock
Due: none

limiting to python3.13 or lower
  pyproject.toml
Due: none

Update models.py
  src/myPyllant/models.py
Due: mypy, pytest

Fixes for removing inactive zones
  README.md
  src/myPyllant/models.py
  src/myPyllant/sample.py
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/connection_status.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/control_identifier.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/current_system.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/device_buckets.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/diagnostic_trouble_codes.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/energy_management.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/mpc.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/rbr.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/rooms.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/rts.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/ship_self.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/system.json
  src/myPyllant/tests/data/inactive_zone/3f745bfcd23f0d4f02fd119df1a6facf6944a4e4/time_zone.json
  src/myPyllant/tests/data/inactive_zone/homes.json
  src/myPyllant/tests/test_api.py
Due: mypy, pytest

detecting unsupported control identifier API response, dedicated exception for NO_FACILITY_FOR_SYSTEM_ID response
  README.md
  src/myPyllant/api.py
  src/myPyllant/enums.py
  src/myPyllant/tests/data/unsupported_control_identifier/1835c08766437e41a9c69bdf454e0ec8bfb0e82f/connection_status.json
  src/myPyllant/tests/data/unsupported_control_identifier/1835c08766437e41a9c69bdf454e0ec8bfb0e82f/control_identifier.json
  src/myPyllant/tests/data/unsupported_control_identifier/1835c08766437e41a9c69bdf454e0ec8bfb0e82f/device_buckets.json
  src/myPyllant/tests/data/unsupported_control_identifier/1835c08766437e41a9c69bdf454e0ec8bfb0e82f/time_zone.json
  src/myPyllant/tests/data/unsupported_control_identifier/homes.json
  src/myPyllant/tests/test_api.py
  src/myPyllant/tests/test_models.py
  src/myPyllant/tests/utils.py
Due: mypy, pytest

generate test data case for no system
  src/myPyllant/tests/generate_test_data.py
Due: pytest

Add COOLING value to EnergyManagerState enum
  src/myPyllant/enums.py
Due: mypy, pytest

Fix VRC700 EnergyManagerState missing COOLING and manual_cooling_planned
  src/myPyllant/enums.py
  src/myPyllant/models.py
Due: mypy, pytest

Add set_cooling_setpoint with VRC700 support, refactor set_time_controlled_cooling_setpoint
  src/myPyllant/api.py
Due: mypy, pytest

Fix DHW temperature setpoint endpoint for VRC700 controllers
  src/myPyllant/api.py
  src/myPyllant/const.py
  src/myPyllant/tests/utils.py
Due: mypy, pytest

Fix VRC700 zone operating mode, heating curve, and heat-demand-limited-by-outside-temperature endpoints
  src/myPyllant/api.py
  src/myPyllant/tests/test_api.py
  src/myPyllant/tests/utils.py
Due: mypy, pytest

Fix VRC700 manual/DAY mode setpoint to use comfort-room-temperature endpoint
  src/myPyllant/api.py
  src/myPyllant/tests/test_vrc700_temperature.py
Due: mypy, pytest

Fix manual_cooling_ongoing always returning False for VRC700
  src/myPyllant/models.py
  src/myPyllant/tests/test_api.py
Due: mypy, pytest

prek run
  src/myPyllant/tests/test_vrc700_temperature.py
Due: pytest

removed duplicate pytest fixtures
  src/myPyllant/tests/test_vrc700_temperature.py
Due: pytest

upgrades locked dependencies
  AGENTS.md
  pyproject.toml
  uv.lock
Due: none

filter flags in lis test data
  src/myPyllant/tests/utils.py
Due: pytest

Path conditions:
  mypy: any of: ^src/.+\.py$, but not: ^src/myPyllant/tests/
  pytest: any of: ^src/.+\.(py|json|yaml)$
